.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20%;
}
.profile-card{
    display: flex;
    width: 100%;
    
   

}
.Form-Upload{
    padding: 0 50px 0 50px;
}

.Form-Upload form {
    color: #111;
    display: flex;
    justify-content: center;
    flex-direction:column;
    margin-right:0 auto;
    padding: 15px;
    
}
form label{
    margin-bottom: 5px;
    color: #111;
    letter-spacing: 0.2rem;
}
form input, textarea{
    width: 100%;
    margin-bottom: 22px;
    transition: 0.3s;
    color: #111;
}
textarea:focus{
    border: 2px solid rgba(30, 85, 250, 0.47);
    background-color: white;
}
input:focus{
    border: 2px solid rgba(30, 85, 250, 0.47);
    background-color: white;
}

.messages{
    color: #111;
   
    border: 1px solid black;
    width: 30%;
}
 .messages h2{
box-shadow: black 0 0 5px;
width: 100%;
margin-right: 10px;

   
}
.update-form{
    color: #111;
    border: 1px solid black;
    
    width: 50%;
}
.update-form h2{
    box-shadow: black 0 0 5px;
    width: 100%;
    margin-right: 10px;
}

form label{
    margin-bottom: 5px;
    color: #111;
    letter-spacing: 0.2rem;
}
form input, textarea{
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230,0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    border-radius: 10px;
    transition: 0.3s;

}
textarea:focus{
    border: 2px solid rgba(30, 85, 250, 0.47);
    background-color: white;
}
input:focus{
    border: 2px solid rgba(30, 85, 250, 0.47);
    background-color: white;
}
form button{
    margin-top: 15px;
    padding: 5px;
    outline: none;
    width: 160px;
    border: 2px solid black;
    font-size: 18px;
    border-radius: 19px;
    background-color:#1f2235 ;
    color: white;
    align-items:center;
    justify-content: center;
}
form button:hover{
    background-color: #1f2235;
    transition: all ease-in 1s;
    border: 2px solid #1f2235;

}